SwiperSlide{
    @apply flex flex-col justify-center items-center bg-[#555] text-[#565656]
}
.Sliders{
    @apply w-full flex justify-center flex-col  p-5 items-center
}
.Slider-Img{
    @apply bg-[#222] w-[360px] h-auto  p-7 rounded
}
.Slider-Head{
    @apply font-black font-sans text-[35px] h-24  w-1/2 text-center rounded  ;
    background-color: rgba(25, 25, 25, 0.75);
    backdrop-filter: blur(20px) saturate(180%);
    border: 1px solid rgba(255, 255, 255, 0.125);
}
.Sliders img{
    filter: grayscale(100%);
}