

.contact-keeper{
    @apply flex w-full justify-around items-center max-[320px]:flex-col 
}
.contact{
 @apply flex flex-col justify-center items-center w-1/3 bg-[#111] mx-[15px] rounded shadow-2xl shadow-[#111]
 max-[320px]:w-full max-[768px]:mx-[10px]
}
.contact-img{
 @apply my-[0.75rem]  bg-[#111] max-[320px]:w-1/3 max-[768px]:w-[150px] ;
 filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.375)) invert(10%)  ;
}
.contact-des{
    @apply font-sans font-black text-[25px] max-[320px]:text-[16px] max-[768px]:text-[16px] max-[768px]:text-center

}
.darker-Count{
    @apply text-[#fff];
}