@keyframes root{
    100%{transform: rotate(360deg)}
}
.Skills{
    background: url(../../Assets/Pic/BlackWhole.jpg);
    @apply w-full h-[629.2px] flex justify-center max-[320px]:h-auto max-[768px]:w-full ;
    background-blend-mode: lighten;
}
.midlam{
    position: relative;
 @apply w-[95%] h-[500px] mt-[4.5rem] flex justify-around items-center rounded max-[320px]:h-auto max-[320px]:flex-col max-[320px]:w-full max-[320px]:items-center 
 max-[320px]:justify-start  max-[768px]:justify-center max-[768px]:w-full  relative  ;
 backdrop-filter: blur(16px) saturate(180%);
 background-color: rgba(0, 0, 0, 0.45);
 transition: all 0.5s;
 border: 1px solid rgba(255, 255, 255, 0.125);
}
.skil{
    @apply flex flex-col justify-center items-center
}
.skill-header{
    z-index: 5000;
    @apply font-black text-center text-[25px] max-[320px]:text-[18px]  max-[768px]:text-[20px]
}
.Skills i{
    @apply font-bold  text-[50px];
}
.fa-js,
.fa-html5,
.fa-css3,
.fa-react{
    position:  relative;
 @apply    flex justify-center items-center rounded-full w-[100px] h-[100px] shadow-2xl shadow-[#222] bg-[#111] text-[#555] 
  max-[320px]:w-[50px] max-[320px]:h-[50px] max-[320px]:my-[1rem] mx-[7rem]
  max-[1024px]:mx-[2rem] max-[768px]:mx-[50px] max-[768px]:w-[70px] max-[768px]:h-[70px]  
 ;
}

.darsad1{
    position: absolute;
    animation:  root 10s infinite  linear ;
  @apply w-[200px] h-[200px] rounded-full border-[16px] border-[#111] max-[320px]:w-[100px] max-[320px]:h-[100px]  max-[768px]:w-[140px] max-[768px]:h-[140px] 
}
.darsad1::after{
    content: "";
    position: absolute;
    @apply w-[40px] h-[40px] bg-[#555] rounded-full max-[320px]:w-[15px] max-[320px]:h-[15px]  max-[768px]:w-[18px] max-[768px]:h-[18px] 
}
.darsad2{
    position: absolute;
    animation:  root 7s infinite  linear ;
  @apply w-[200px] h-[200px] rounded-full border-[16px] border-[#111] max-[320px]:w-[100px] max-[320px]:h-[100px]  max-[768px]:w-[140px] max-[768px]:h-[140px] 
}
.darsad2::after{
    content: "";
    position: absolute;
    @apply w-[40px] h-[40px] bg-[#555] rounded-full max-[320px]:w-[15px] max-[320px]:h-[15px]  max-[768px]:w-[18px] max-[768px]:h-[18px]
}

.darsad3{
    position: absolute;
    animation:  root 5s infinite  linear ;
  @apply w-[200px] h-[200px] rounded-full border-[16px] border-[#111] max-[320px]:w-[100px] max-[320px]:h-[100px]  max-[768px]:w-[140px] max-[768px]:h-[140px] 
}
.darsad3::after{
    content: "";
    position: absolute;
    @apply w-[40px] h-[40px] bg-[#555] rounded-full max-[320px]:w-[15px] max-[320px]:h-[15px]  max-[768px]:w-[18px] max-[768px]:h-[18px]
}

.darsad4{
    position: absolute;
    animation:  root 2s infinite  linear ;
  @apply w-[200px] h-[200px] rounded-full border-[16px] border-[#111] max-[320px]:w-[100px] max-[320px]:h-[100px]  max-[768px]:w-[140px] max-[768px]:h-[140px] 
}
.darsad4::after{
    content: "";
    position: absolute;
    @apply w-[40px] h-[40px] bg-[#555] rounded-full max-[320px]:w-[15px] max-[320px]:h-[15px]  max-[768px]:w-[18px] max-[768px]:h-[18px]
}
.dark-Skill{
    background-color: rgba(255, 255, 255, 0.45) !important;
    color: #222;
    @apply border-[#A5A5A5]
}
.DarkmodeB i{
    @apply  text-[20px] w-[20px] h-[20px] absolute ;
    right:50%;
    top:65px;
}





