/* /////////////////Young Serif ////////////// */
@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
/* /////////////////Young Serif ////////////// */
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,900&display=swap');
.nav{
 @apply w-full flex items-center  p-2 text-[#a1a1a1] bg-[#111]/20 rounded-full;
 backdrop-filter: blur(12px) saturate(55%);
 border: 1px solid rgba(255, 255, 255, 0.125);
 z-index:5;
 transition:all 0.5s
}

.links{
    font-family: 'Young Serif', serif;
    @apply font-bold mx-[1rem] p-[0.25rem] relative rounded  
}
.links::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    scale: 0;
    transition: all 0.5s;
    @apply w-full h-[4px] bg-red-900 rounded
}
.links:hover::after{
    scale: 1;
}
.active{
    font-family: 'Kanit', sans-serif;
    @apply  font-black border-t border-red-900 text-white  max-[320px]:border-t  max-[320px]:border-[#111]  max-[320px]:rounded-none ;
    scale: 1.5;
}
.open{
     @apply flex items-center justify-center w-[320px] h-[600px] bg-zinc-950/50 text-zinc-500 flex-col fixed scale-[1] ;
     backdrop-filter: blur(5px) saturate(200%);
}
.MenuClose{
    @apply mb-[1rem] text-[25px]
}
.dark-nav{
    @apply bg-[#fff]/50 text-[#333]
}
.dark-nav .active{
    @apply text-[#111] border-t border-[#0d0909] 
}