@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    overflow-x: hidden;
}

::-webkit-scrollbar{
    @apply bg-[#1111114b] rounded;
    backdrop-filter: blur(16px) saturate(180%);
    width: 5px; 
}
::-webkit-scrollbar-thumb{
    @apply bg-[#1f1f1f] rounded
}
::-webkit-scrollbar-track{
    @apply bg-[#ffffff86] rounded
}
::-webkit-scrollbar-track-piece{
 box-shadow: inset 1px 1px 10px #666;
}
/* /////////////////Young Serif ////////////// */
@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
/* ///////////////// Kanti ////////////// */
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,900&display=swap');